body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5;
}

.bg-secundario {
    background-color: #6a1b9a;
    color: white;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.subtitulo {
    font-size: 1.5em;
    color: #501374;
    font-weight: bold;
    margin-bottom: 1rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input, button {
    font-size: 1rem;
}

button {
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05);
}

#edit-form .btn-success {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
}

#edit-form .btn-success:hover {
    background-color: #501374;
}

#cancel-btn {
    margin-top: 1rem;
    background-color: #f1f1f1;
    border: none;
    padding: 0.5rem 1.5rem;
    color: #6a1b9a;
    font-size: 1rem;
}

#cancel-btn:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .subtitulo {
        font-size: 1.2em;
    }

    .titulo {
        font-size: 2em;
    }

    input {
        font-size: 0.9rem;
    }
}
